<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emotion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- ================================================================================================= -->
        <!-- Tab Widget Activity is what makes the options at the top of the screen (Favorites, History, etc). -->
        <!-- ================================================================================================= -->

        <activity
            android:name=".TabWidget"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ================================================================================================= -->
        <!-- eMotion Activity is the main Activity that contains everything else. -->
        <!-- ================================================================================================= -->

        <activity
            android:name=".EMotionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="EMotionActivity" />

                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>

        <!-- ================================================================================================= -->
        <!-- Favorite Activity is the Activity that shows the favorites of the user. -->
        <!-- ================================================================================================= -->

        <activity
            android:name=".FavoriteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="FavoriteActivity" />

                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ReminderMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
        <receiver
            android:name=".ReminderMainActivity"
        >
            <intent-filter>
                <action
                    android:name="intent" />
                <data
                    android:scheme="manager" />
            </intent-filter>
        </receiver>

        <!-- ================================================================================================= -->
        <!-- eMotion Activity is the main Activity that contains everything else. -->
        <!-- ================================================================================================= -->

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>